
@using HealthConnect.ViewModels
@model ResetPasswordViewModel

<form asp-action="ResetPassword" method="post">
    <label>New Password:</label>
    <input asp-for="NewPassword" />
    <label>Confirm Password:</label>
    <input asp-for="ConfirmPassword" />
    <button type="submit">Reset Password</button>
</form>
