<link rel="stylesheet" href="~/css/Footer.css" />
<!-- Footer Section -->
<footer class="footer">
    <!-- Footer Top Section -->
    <div class="footer-top">
        <h1>HEALTH CONNECT</h1>
        <nav>
            <a href="#">Find Doctors</a>
            <a href="#">Online Video Consultation</a>
            <a href="#">Medicines</a>
        </nav>
        <div class="social-icons">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>

    <!-- Divider Line -->
    <div class="divider"></div>

    <!-- Copyright Section -->
    <p>Copyright © 2024, Health Connect. All rights reserved.</p>
</footer>