@using System.Security.Claims;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> smgr;
@inject UserManager<User> user;
<link rel="stylesheet" href="~/css/header.css" />
<header class="header">
    <a class="HealthConnectLogo" style="text-decoration:none;color:black" asp-action="Index" asp-controller="Home">
        <h1 style="font-family: 'Gelasio', serif;">HEALTH CONNECT</h1>
    </a>
    <nav>
        <a asp-controller="User" asp-action="FindDoctors">Find Doctors</a>
        <a href="#">Video Consult</a>
        <a asp-controller="User" asp-action="SearchMedicines">Medicines</a>
    </nav>
    <div id="auth-links">
        @if (User.Identity.IsAuthenticated)
        {
            <div class="dropdown">
                <a href="#" class="d-flex align-items-center text-decoration-none " data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="@Url.Action("GetProfilePhoto", "User", new { userId = User.FindFirstValue(ClaimTypes.NameIdentifier) })" alt="Profile" class="rounded-circle" width="40" height="40">
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" asp-controller="User" asp-action="EditProfile">
                            <div class="ms-3">
                                <strong>@User.Identity.Name</strong>
                            </div>
                        </a>
                    </li>
                    <li><a class="dropdown-item" href="/Appointments">My Appointments</a></li>
@*                     <li><a class="dropdown-item" href="/MedicalRecords">My Medical Records</a></li>
 *@                    <li><a class="dropdown-item" href="/OnlineConsultations">My Online Consultations</a></li>
                    <li><a class="dropdown-item" href="/Feedback">My Feedback</a></li>
                    <li><a asp-action="EditProfile" asp-controller="User" class="dropdown-item">View / Update Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item" asp-action="Logout" asp-controller="Account">Logout</a>
                    </li>
                </ul>
            </div>
        }
        else
        {
            <div class="without_login">
                <a href="/Account/Login" style="text-decoration:none;color:black">Login/Signup</a>
            </div>

        }
    </div>
    
    <!-- Logout form-->
    <form id="logoutForm" asp-area="" asp-controller="Account" asp-action="Logout" method="post" style="display: none;"></form>


</header>
<script>
    document.addEventListener('click', function (event) {
        const dropdown = document.querySelector('.profile-dropdown');
        const menu = document.querySelector('.dropdown-menu');

        if (dropdown.contains(event.target)) {
            menu.style.display = menu.style.display === 'block' ? 'none' : 'block';
        } else {
            menu.style.display = 'none';
        }
    });

</script>


