@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> smgr;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/header.css">
    <link rel="stylesheet" href="~/css/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Gelasio:wght@400;700&display=swap" rel="stylesheet">
    <title>Health Connect</title>
</head>
<body>
    @Html.Partial("_Header")
    <!-- Main Content -->
    <main role="main" class="container">
        @RenderBody()
    </main>

    @Html.Partial("_Footer")

    <script>
        document.addEventListener('click', function (event) {
            const dropdown = document.querySelector('.profile-dropdown');
            const menu = document.querySelector('.dropdown-menu');

            if (dropdown.contains(event.target)) {
                menu.style.display = menu.style.display === 'block' ? 'none' : 'block';
            } else {
                menu.style.display = 'none';
            }
        });

    </script>
    @* @RenderSection("Scripts", required: false) *@
</body>
@* @section Scripts {
    <script>
        document.addEventListener('click', function (event) {
            const dropdown = document.querySelector('.profile-dropdown');
            const menu = document.querySelector('.dropdown-menu');

            if (dropdown.contains(event.target)) {
                menu.style.display = menu.style.display === 'block' ? 'none' : 'block';
            } else {
                menu.style.display = 'none';
            }
        });

    </script>
} *@
</html>
