
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/header.css">
    <link rel="stylesheet" href="~/css/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Gelasio:wght@400;700&display=swap" rel="stylesheet">

    <title>Health Connect</title>
</head>
<body>
    @Html.Partial("_Header")
    <!-- Main Content -->
    <main role="main" class="container" style="min-height:100vh">
        @RenderBody()
    </main>

    @Html.Partial("_Footer")
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")

</body>

</html>
