<html>
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/header.css"/>
    <link rel="stylesheet" href="~/css/Footer.css" />

    <style>
        body {
            margin: 0;
        }

        .header + .auth-links {
            margin-top: 20px; /* Adds 20px space after the header */
        }

        .auth-links {
            text-align: center;
            margin-top: 10px;
        }

            .auth-links a {
                margin: 0px 5px;
                text-decoration:none;
                color: #00BFFF;
                font-size: 16px;
                justify-content:space-between;
                color:black
            }
    </style>
</head>
<body>
    <!-- Header Section -->
    <div class="header">
        <h1>HEALTH CONNECT</h1>
        <nav>
            <a href="#">Find Doctors</a>
            <a href="#">Video Consult</a>
            <a href="#">Medicines</a>
            <div class="auth-links">
                <a href="#">Login/Signup</a>
            </div>
        </nav>
    </div>

    <!-- Main Content -->
    <main role="main" class="container">
        @RenderBody()
    </main>

    <!-- Footer Section -->
    <div class="footer">
        <!-- Footer Top Section -->
        <div class="footer-top">
            <h1>HEALTH CONNECT</h1>
            <!-- Footer Links Section -->
            <nav>
                    <a href="#">Find Doctors</a>
                    <a href="#">Online Video Consultation</a>
                    <a href="#">Medicines</a>
             </nav>
            <div class="social-icons">
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>

       

        <!-- Divider Line -->
        <div class="divider"></div>

        <!-- Copyright Section -->
        <p>Copyright © 2024, Health Connect. All rights reserved.</p>
    </div>
</body>
</html>
